extends ../template


block image
	img(src="./images/emmanuel-full.jpg", alt="Emmanuel Ramírez")

block title

	.texto
		h1
			| Emmanuel Ramírez
		h3
			| UX/UI Designer,
			br 
			| Frontend Developer

block skills

	ul
		li.title-skill
			h2 Planning and Layout
		li.fa.fa-html5
			h4 HTML 5
		li.fa.fa-css3
			h4 CSS
		li.fa.fa-users
			h4 UX/UI
		li.fa.fa-laptop
			h4 Responsive Design
		li.fa.fa-mobile
			h4 Mobile Design
	ul
		li.title-skill
			h2 Frontend Programming
		li.fa.fa-file-code-o
			h4 Javascript
		li.fa.fa-terminal
			h4 jQuery
		li.fa.fa-coffee
			h4 CoffeScript
		li.fa.fa-code
			h4 Jade
		li.fa.fa-cogs
			h4 Gulp
	ul
		li.title-skill
			h2 Preprocessors
		li.fa.fa-file-code-o
			h4 Stylus
		li.fa.fa-compass
			h4 Sass
		li.fa.fa-minus
			h4 Less
	ul
		li.title-skill
			h2 CMS
		li.fa.fa-wordpress
			h4 Wordpress
		li.fa.fa-joomla
			h4 Joomla
	ul
		li.title-skill
			h2 Design
		li.fa.fa-picture-o
			h4 Photoshop
		li.fa.fa-pencil-square-o
			h4 Illustrator
	ul
		li.title-skill
			h2 OS
		li.fa.fa-windows
			h4 Windows
		li.fa.fa-apple
			h4 OSX


block social

	ul.social
		li
			span.fa.fa-github
			a(href="https://github.com/soyemmanuel/", target="_blank") Github
		li
			span.fa.fa-twitter
			a(href="https://twitter.com/?lang=es", target="_blank") Twitter
		li
			span.fa.fa-behance
			a(href="https://www.behance.net/soyemmanuel", target="_blank") Behance
		li
			span.fa.fa-linkedin
			a(href="https://mx.linkedin.com/in/soyemmanuel/es", target="_blank") linkedIn




