doctype html
html(lang = "es")
	head
		title Emmanuel Ramírez | UX Designer, Frontend Developer
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE-Edge")
		link(rel="icon" type="image/png" href="./favicon.png")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Top Speed Frontend Developer, ")
		
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Tenor+Sans|Oxygen:700|Khula")
		link(rel="stylesheet", href="./css/style.css")
	body
		
		header
			div.hero-image.center
				block image
				block title
			
		section.content.skills

			h2 Technical Skills

			block skills

		section.content.bio

			main.center

				h2 About Me

				p Profession designer , programmer by hobby and fan website optimization , self-taught and curious of birth .

				p I specialize in the Frontend programming, HTML 5 , CSS 3 and JavaScript is my every day I like to develop themes for Wordpress ( for me the best CMS there so far) , from child themes to Custom themes , I facilitated the administration user to be happy :)

				p I like optimize all you can as images, css, preprocessors Css , templating systems for HTML, compilers Javascript and task managers help me save time , clean and optimized code is what characterizes my development , provided following best practices and web standards .


		section.content.portfolio

			h2 Portfolio

			ul
				li
					figure
						img(src="images/portfolio/portfolio-1.jpg", alt="tu Negocio Web")
						figcaption
							p Woocommerce| Responsive Design
							a(href="http://tunegocioweb.com.mx", class="fa fa-external-link", target="_blank") Ver Sitio
				li
					figure
						img(src="images/portfolio/portfolio-2.jpg", alt="Totalplay")
						figcaption
							p Responsive Design Optimization
							a(href="http://totalplay.com.mx",class="fa fa-external-link", target="_blank")  Ver Sitio
				li
					figure
						img(src="images/portfolio/portfolio-3.jpg", alt="Ultrachem")
						figcaption
							p Joomla
							a(href="http://ultrachem.com.mx",class="fa fa-external-link", target="_blank")  Ver Sitio
				li
					figure
						img(src="images/portfolio/portfolio-4.jpg", alt="Tipkids")
						figcaption
							p Custom CMS
							a(href="http://tipkids.com",class="fa fa-external-link", target="_blank")  Ver Sitio
				li
					figure
						img(src="images/portfolio/portfolio-5.jpg", alt="Reside")
						figcaption
							p Wordpress | Responsive Design
							a(href="http://reside.com.mx",class="fa fa-external-link", target="_blank")  Ver Sitio
				li
					figure
						img(src="images/portfolio/portfolio-6.jpg", alt="Caipe")
						figcaption
							p Wordpress | Responsive Design
							a(href="http://caipe.com.mx",class="fa fa-external-link", target="_blank")  Ver Sitio
				li
					figure
						img(src="images/portfolio/portfolio-7.jpg", alt="Maderas Hidalgo")
						figcaption
							p Wordpress | Responsive Design
							a(href="http://maderashidalgo.com.mx",class="fa fa-external-link", target="_blank")  Ver Sitio

		section.content.hire-me

			h2 Hire Me

			a(href="mailTo:soyemmanuel.rmz@gmail.com" class="btn-amarillo") Send me a mail

			block social

	script(src="js/script.js")