/*
*    Variables para el el tema
*
*    Colores __________________ $Colores
*    Etiquetas base ___________ $Base
*    Clase standard ___________ $Standard
*    Alineacion vertical ______ $Valign
*    Titulos __________________ $Titulos
*    
*/



/*================*\
    $Colores
\*================*/


$blanco = #ffffff
$fondo = #ecf0f1
$negro = #1e1e1e
$turquesa = #1abc9c
$gris = #cccccc
$midnight = #2c3e50
$asphalt = #34495e
$silver = #bdc3c7
$azul = #3498db
$amarillo = #f1c40f


/*================*\
    $Base
\*================*/


body
	color $negro
	font-family 'Khula', sans-serif
	font-weight 400
	text-align center
	font-size 100%
	
a
	text-decoration none
	
	&:hover
		text-decoration underline
		
ul
	margin 0
	padding 0
	


/*================*\
    $Titulos
\*================*/

h1,
h2
	font-family 'Oxygen', sans-serif
	font-weight 700
	margin-top 0

h3,
h4
	font-family 'Tenor Sans', sans-serif
	font-weight 400



/*================*\
    $Standard
\*================*/

.center
	margin 0 auto
	max-width 90%
	
.paddingTopBottom
	padding-bottom 1em
	padding-top 1em

.paddingLeftRight
	padding-left 1em
	padding-right 1em	
	

/*================*\
    $Valing
\*================*/

.valignMiddle
	display inline-block
	vertical-align middle

.valignTop
	display inline-block
	vertical-align top

.valignBottom
	display inline-block
	vertical-align bottom
	

/*================*\
    $transicion
\*================*/

.transicion
	transition all ease .2s
	-moz-transition all ease .2s
	-webkit-transition all ease .2s
	-o-transition all ease .2s



